@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
:root{
    --primary : #6a2689e6;
    --parimary-dark: #330348e5;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    /* background-color: var(--primary); */
}

.container{
    background-color: var(--primary);
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

}

.box{
    width:auto;
    padding: 20px 20px; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
    gap: px;
    background-color: white; 

    border-radius: 8px;
     line-height: 30px;
     margin: 10px 20px;
    
}

.heading{
    margin: 0px 50px;
}

input{
    padding: 8px;
    border: 1px solid black;
    width:  100%;
    margin: 10px 0px;
}

.btnclass{
    padding:10px ;
    background-color: var(--parimary-dark);
    color: white;
    border: none;
    width: 100%;

}
.btnclass:hover{
cursor: pointer;
}
.btnclass:active{
    background-color: var(--primary);
}

.qr{
     padding: 10px;
     border: 1px solid black;
     width: 100%;
     display: flex;
     justify-content: center;
     transition:  0.7s ease-in; 
    }